.Navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .8);
  backdrop-filter: blur(5px);

}

.Navbar>ul {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: end;
}

.Navbar>ul>li {
  display: flex;
  padding: .8rem;
  cursor: pointer;
}

.Navbar>ul>li>button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 1rem;
  transition: color 1s;
  color: rgba(255, 255, 255, .3);
}

.Navbar>ul>li>button:hover {
  color: rgba(255, 255, 255, .8);
}

.Navbar>ul>li>button>span {
  overflow: hidden;
  text-align: left;
  width: 6.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Navbar>ul>li.active>button {
  color: rgba(255, 255, 255, 1);
}

/* Responsividade */

.mobile_navbar {
  position: fixed;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  display: flex;
  width: 85%;
  height: 5rem;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 3rem;
  z-index: 1000;
  padding: 0 10px;
  box-shadow: inset 0px 0px 10px 1px #a5a5a5;
}

.mobile_navbar ul {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.mobile_navbar ul li {
  position: relative;
  list-style: none;
  flex: 1; 
  height: 70px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile_navbar ul li button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile_navbar ul li button .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.75rem;
  transition: .35s;
  color: #fff;
}

.mobile_navbar ul li.active button .icon {
  transform: translateY(-35px);
}

.mobile_navbar ul li button span {
  position: absolute;
  color: #fff;
  font-weight: 400;
  font-size: .75rem;
  transition: .35s;
  opacity: 0;
  transform: translateY(20px);
}

.mobile_navbar ul li.active button span {
  opacity: 1;
  transform: translateY(15px);
}

.indicator {
  position: absolute;
  width: 55px;
  height: 55px;
  top: -30px;
  background-color: rgb(69, 0, 173);
  box-shadow: 0px 0px 15px 5px rgb(69, 0, 173);
  border-radius: 50%;
  transition: .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  pointer-events: none;
  left: 0;
}

.mobile_navbar ul li:nth-child(1).active ~ .indicator { left: calc(10% - 27.5px); }
.mobile_navbar ul li:nth-child(2).active ~ .indicator { left: calc(30% - 27.5px); }
.mobile_navbar ul li:nth-child(3).active ~ .indicator { left: calc(50% - 27.5px); }
.mobile_navbar ul li:nth-child(4).active ~ .indicator { left: calc(70% - 27.5px); }
.mobile_navbar ul li:nth-child(5).active ~ .indicator { left: calc(90% - 27.5px); }

@media screen and (max-width: 501px) {
  .mobile_navbar {
    width: 95%;
  }

  .mobile_navbar ul li button span {
    position: absolute;
    color: #a5a5a5;
    font-weight: 400;
    font-size: .7rem;
    transition: .35s;
    opacity: 0;
  }
}