.Navbar{
  position: static;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .8);
  backdrop-filter: blur(5px);
  
}

.Navbar > ul {
  display: flex;
  width: 100%;
  /* position: static; */
  gap: 1rem;
  align-items: center;
  justify-content: end;
}

.Navbar > ul > li {
  display: flex;
  padding: .8rem;
  cursor: pointer;
}

.Navbar > ul > li > a{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 1rem;
  transition: color 1s;
  color: rgba(255, 255, 255, .3);
}

.Navbar > ul > li > a:hover{
  color: rgba(255, 255, 255, .8);
}

.Navbar > ul > li > a > span{
  overflow: hidden;
  text-align: left;
  width: 6.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Navbar > ul > li > .active {
  color: rgba(255, 255, 255, 1);
}

/* Responsividade */

.mobile_navbar{
  display: flex;
  width: 80%;
  height: 4rem;
  position: relative;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 2rem;
  z-index: 1;
  position: fixed;
  bottom: 1rem;
  padding: 1rem;
  box-shadow: inset 0px 0px 10px 1px #a5a5a5;
}

.mobile_navbar > ul{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mobile_navbar > ul > li {
  display: flex;
  flex-direction: column;
  width: 6rem;
  align-items: center;
  justify-content: center;
}

.mobile_navbar > ul > li > a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
}

.mobile_navbar > ul > li > a > span {
  font-size: .8rem;
  display: none;
}


.mobile_navbar > ul > li > .active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #fff;
  padding: .8rem;
  transform: translateY(-1.8rem);
  z-index: 2;
  font-size: 1.5rem;
  border-radius: 100%;
}