.Navbar {
  position: static;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .8);
  backdrop-filter: blur(5px);

}

.Navbar>ul {
  display: flex;
  width: 100%;
  /* position: static; */
  gap: 1rem;
  align-items: center;
  justify-content: end;
}

.Navbar>ul>li {
  display: flex;
  padding: .8rem;
  cursor: pointer;
}

.Navbar>ul>li>button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 1rem;
  transition: color 1s;
  color: rgba(255, 255, 255, .3);
}

.Navbar>ul>li>button:hover {
  color: rgba(255, 255, 255, .8);
}

.Navbar>ul>li>button>span {
  overflow: hidden;
  text-align: left;
  width: 6.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Navbar>ul>li>.active {
  color: rgba(255, 255, 255, 1);
}

/* Responsividade */

.mobile_navbar {
  position: fixed;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  display: flex;
  width: 85%;
  height: 5rem;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 3rem;
  z-index: 1000;
  padding: 1rem;
  box-shadow: inset 0px 0px 10px 1px #a5a5a5;
}

.mobile_navbar ul {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.mobile_navbar ul li {
  position: relative;
  list-style: none;
  height: 70px;
  width: 80px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile_navbar ul li button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.mobile_navbar ul li button .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.75rem;
  transition: .35s;
  text-align: center;
  color: #fff;
}

.mobile_navbar ul li.active button .icon {
  transform: translateY(-45px);
}

.mobile_navbar ul li button span {
  position: absolute;
  color: #a5a5a5;
  font-weight: 400;
  font-size: .75rem;
  letter-spacing: .05rem;
  transition: .35s;
  opacity: 0;
}

.mobile_navbar ul li.active button span {
  opacity: 1;
  transform: translateY(10px);
}

.indicator {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -45%;
  left: calc(50% - (80px * 2.5) + 10px);;
  background-color: rgb(69, 0, 173);
  box-shadow: 0px 0px 10px 5px rgb(36, 0, 90);
  border-radius: 10rem;
  transition: .35s;
}

.mobile_navbar ul li:nth-child(1).active ~ .indicator { transform: translateX(calc(80px * 0)); }
.mobile_navbar ul li:nth-child(2).active ~ .indicator { transform: translateX(calc(80px * 1)); }
.mobile_navbar ul li:nth-child(3).active ~ .indicator { transform: translateX(calc(80px * 2)); }
.mobile_navbar ul li:nth-child(4).active ~ .indicator { transform: translateX(calc(80px * 3)); }
.mobile_navbar ul li:nth-child(5).active ~ .indicator { transform: translateX(calc(80px * 4)); }