.form-card{
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 17rem;
  gap: .5rem;
  padding: .5rem;
  border: .5px solid rgba(85, 85, 85, 0.5);
  transition: .5s;
  position: relative;
  &:hover{
    transform: translatey(-5px);
    box-shadow: inset 0px 0px 15px 1px rgba(101, 0, 254, .5);
    border: .5px solid rgba(101, 0, 254, .0);
  }
}

.form-card > h1 {
  font-weight: bold;
  font-size: 1.2rem;
}

.form-informations {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.form-description {
  display: flex;
  align-self: center;
  text-align: justify;
  overflow: auto;
  padding: .5rem;
  font-size: .9rem;
}

.form-description::-webkit-scrollbar {
  width: 5px;              
}

.form-description::-webkit-scrollbar-track {
  background: transparent;    
}

.form-description::-webkit-scrollbar-thumb {
  background-color: #420083;  
  border-radius: .5rem;         
}

.form-card-border {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  z-index: 1;
}

.border-tl{
  left: -1.5px;
  top: -1.5px;
  border-left: 3px solid rgb(101, 0, 254);
  border-top: 3px solid rgb(101, 0, 254);
}

.border-tr {
  right: -1.5px;
  top: -1.5px;
  border-right: 3px solid rgb(101, 0, 254);
  border-top: 3px solid rgb(101, 0, 254);
}

.border-br {
  right: -1.5px;
  bottom: -1.5px;
  border-right: 3px solid rgb(101, 0, 254);
  border-bottom: 3px solid rgb(101, 0, 254);
}

.border-bl {
  left: -1.5px;
  bottom: -1.5px;
  border-left: 3px solid rgb(101, 0, 254);
  border-bottom: 3px solid rgb(101, 0, 254);
}