.form-card{
  display: flex;
  flex-direction: column;
  background-color: #000;
  width: 25rem;
  height: fit-content;
  gap: .5rem;
  padding: .5rem;
  /* align-items: center; */
  border-left: 5px solid rgba(69, 0, 171, 0.696);
  transition: .3s;

  &:hover{
    transform: translatey(-5px);
    box-shadow: 0px 10px 15px 5px rgba(43, 0, 107, 0.696);
  }
}

.form-card > h1 {
  font-weight: bold;
  font-size: 1.1rem;
}

.form-card > p  {
  width: 100%;
  font-weight: .9rem;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(138, 138, 138);
}


.form-local-more{
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form-local-more > div , .form-periodo {
  display: flex;
  flex-direction: column;
  gap: .1rem;
}

.form-local-more > div > label, .form-periodo > label{
  font-weight: bold;
}

.form-local-more > div > p, .form-periodo > p{
  font-size: .9rem;
}

.form-local-more > button{
  padding: .4rem;
  background-color: rgba(69, 0, 171, 0.696);
  transition: .3s;

  &:hover{
    background-color: rgba(42, 0, 106, 0.696);
  }
}
