.educational_card {
  display: flex;
  gap: 1rem;
  width: fit-content;
  align-items: center;
  justify-content: center;
  position: relative;

  &:hover .card_title {
    transform: translateX(10px);
  }

  &:hover .card_icon {
    box-shadow: 0px 0px 5px 1px rgb(102, 0, 255);
    transform: scale(1.05);
  }

  &:hover .card_button {
    transform: translateX(45px);
    opacity: 1;
  }
}

.card_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: rgba(43, 0, 107, 0.5);
  height: 3.25rem;
  width: 3.25rem;
  border-radius: .25rem;
  transition: .25s;
}

.card_title {
  height: 3.25rem;
  width: 22rem;
  display: flex;
  align-items: center;
  background-color: rgb(17, 17, 17);
  padding: .75rem;
  font-size: .95rem;
  cursor: pointer;
  transition: .25s;
  z-index: 1;
}

.card_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 3.25rem;
  color: #fff;
  background-color: rgb(62, 0, 156);
  transition: .25s;
  position: absolute;
  right: 0;
  opacity: 0;

  &:hover {
    background-color: rgba(43, 0, 107, 0.5);
  }
}