.form_card {
  width: 27.5rem;
  height: 13rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
  position: relative;
}

.card_header {
  display: flex;
  align-items: center;
  justify-items: baseline;
  gap: 1rem;
  background-color: rgb(27, 0, 70);
  border-radius: .5rem .5rem 0 0;
  padding: .25rem;
}

.card_header>span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.75rem;
  height: 2.75rem;
  background-color: transparent;
  font-size: 1.5rem;
  border-radius: 2rem;
  color: rgb(68, 0, 169);
}

.card_header>p {
  font-size: 1.1rem;
  font-weight: bold;
}

.card_sub_title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card_info {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: baseline;
  justify-content: center;
  padding: .7rem;
}

.card_info>p {
  height: 5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.border_br,
.border_bl {
  position: absolute;
  height: 20px;
  width: 20px;
}

.border_br {
  right: -1.5px;
  bottom: 0px;
  border-right: 3px solid rgb(101, 0, 254);
  border-bottom: 3px solid rgb(101, 0, 254);
  border-radius: 0 0 .5rem 0;
}

.border_bl {
  left: -1.5px;
  bottom: -2px;
  border-left: 3px solid rgb(101, 0, 254);
  border-bottom: 3px solid rgb(101, 0, 254);
  border-radius: 0 0 0 .5rem;
}

.more_btn {
  padding: .5rem 1rem;
  /* margin-left: .5rem; */
  background-color: rgb(68, 0, 169);
  border-radius: .5rem;
  cursor: pointer;
  transition: .25s;

  &:hover {
    background-color: rgb(27, 0, 70);
  }
}

.more_btn:disabled {
  background-color: rgb(91, 91, 91);
  color: rgb(34, 34, 34);
  cursor: not-allowed;
}

@media screen and (max-width: 1001px) {
  .form_card {
    width: 45%;
  }
}

@media screen and (max-width:751px) {
  .form_card {
    width: 90%;
  }
}