.modal-closed {
  display: none;
}


.modal-opened {
  display: flex;
  position: fixed;
  width: 80%;
  height: 75%;
  top: 15%;
  left: 10%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  box-shadow: inset 0px 0px 10px 2.5px rgba(151, 65, 250, .8);
  z-index: 1;
}

.modal-body {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body > span {
  background-color: transparent;
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
}

.modal-button {
  background-color: rgb(62, 0, 138, .8);
  padding: .2rem;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: .5rem;
  transition: .3s;
  font-size: .9rem;

  &:hover {
    background-color: rgb(62, 0, 138, .5);
  }
}

.modal-top-left {
  left: 0;
  top: 0;
  border-left: 3px solid #7300ff;
  border-top: 3px solid #7300ff;
}

.modal-top-right {
  right: 0;
  top: 0;
  border-right: 3px solid #7300ff;
  border-top: 3px solid #7300ff;
}

.modal-bottom-left {
  left: 0;
  bottom: 0;
  border-left: 3px solid #7300ff;
  border-bottom: 3px solid #7300ff;
}

.modal-bottom-right {
  right: 0;
  bottom: 0;
  border-right: 3px solid #7300ff;
  border-bottom: 3px solid #7300ff;
}

.modal-certification-data {
  display: flex;
  /* flex-wrap: wrap; */
  overflow-y: auto;
  width: 90%;
  height: 81%;
  gap: .25rem;
  align-items: center;
  justify-content: center;
}

.modal-certification-infos {
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: column;
  gap: .1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-certification-infos > div {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  padding: .5rem;
  width: 100%;
}

.modal-certification-infos > div > label {
  font-size: .9rem;
  font-weight: bold;
  color: #7300ff;
}