.certification_card{
  display: flex;
  align-items: center;
  width: 21rem;
  height: 5rem;
  gap: .5rem;
  border-radius: .25rem;
  transition: .35s;  
  filter: brightness(.8);
  position: relative;
  cursor: pointer;

  &:hover{
    transform: translateY(-7.5px);
    filter: brightness(1);
  }

  &:hover .card_image {
    opacity: 1;
  }

  &:hover .card_infos {
    background-color: rgb(23, 23, 23);
  }

  &:hover .card_button {
    transform: translateX(0);
    opacity: 1;
    width: 70%;
  }
}

.card_image {
  width: 5rem;
  height: auto;
  border-radius: .25rem;
  opacity: .5;
  transition: .3s;
}


.card_infos{
  background-color: rgb(17, 17, 17);
  width: 15.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: .2rem;
  padding: .5rem;
  transition: .2s;
}


.card_title{
  width: 100%;
  font-weight: 600;
  text-align: center;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.1rem;
}

.card_location{
  opacity: .5;
}


@media screen and (max-width: 740px) {
    .certification_card {
      width: 48%;
    }
    
    .card_infos {
      width: 80%;
    }
}

@media screen and (max-width: 471px) {
  .certification_card {
    width: 95%;
  }
}