.card{
  width: 17rem;
  background: #1C1A1D;
  border-radius: .5rem;
  position: relative;
  cursor: pointer;
}

@property --angle{
 syntax: "<angle>";
 initial-value: 0deg;
 inherits: false;
}

.card::after, .card::before{
  --angle: 0deg;
  content: '';
  position: absolute;
  height: 103%;
  width: 101%;
  background-image: conic-gradient(from var(--angle), transparent 90%, #F64349, #1C1A1D);
  z-index: -1;
  top: 50%;
  left: 50%;
  translate: -50% -50.25%;
  border-radius: .5rem;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

.card::before{
  filter: blur(1rem);
  opacity: .8;
}

.card_components{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.card_image{
  border-radius: .5rem;
  width: 30%;
}

.card_subcomponents{
  width: 70%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}


.card_infos{
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_local {
  align-self: center;
}

.area{
  font-weight: 600;
  padding: .25rem .5rem;
  width: fit-content;
  border-radius: 1rem;
  font-size: .9rem;
}

.html_Class{
  color: #ff6200;
  background-color: rgba(255, 98, 0, 0.5);
}

.css_Class{
  color: #0004ff;
  background-color: rgba(0, 4, 255, 0.5);
}

.js_Class{
  color: #d9ff00;
  background-color: rgba(217, 255, 0, 0.5);
}

.py_Class{
  color: #0051ff;
  background-color: rgba(0, 81, 255, 0.5);
}

.ts_Class{
  color: #4c25fa;
  background-color: rgba(47, 0, 255, 0.5);
}

.sass_Class{
  color: #c800ff;
  background-color: rgba(200, 0, 255, 0.5);
}

@media screen and (max-width: 640px){
  .card{
    width: 9rem;
    height: 3rem;
  }

  .area{
    font-size: .7rem;
    padding: .15rem .2rem;
  }

  .card_local{
    /* display: none; */
    font-size: .8rem;
  }
}