.experience_card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card_image {
  width: 7.5rem;
  height: auto;
  border-radius: .75rem;

}

.card_data {
  display: flex;
  width: 28.5rem;
  height: 7.5rem;
  flex-direction: column;
  border: 1px solid #696969;
  background: linear-gradient(to bottom right, #2B2B27, #1F3831, #2B2B27);
  justify-content: center;
  padding: .75rem;
  border-radius: 1.5rem;

  h2 {
    font-size: 1.35rem;
    color: #028261;
  }

  p {
    font-size: 1.1rem;
  }
}