.profile-card{
  position: fixed;
  background-color: #2A2A2A;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 25rem;
  height: 40rem;
  padding: 1rem 0;
  border-radius: 1rem;
  gap: 1rem;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 1);
}

.profile-infos{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;

}

.profile-picture{
  width: 17.5rem;
  height: auto;
  object-fit: contain;
  border-radius: 100%;
}

.profile-links{
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1rem;
  align-items: center;
}

.profile-links > a{
  display: flex;
  width: 11rem;
  /* background-color: #000; */
  padding: .2rem;
  text-decoration: none;
  gap: 1rem;
  color: #fff;
  font-size: 1.75rem;
  align-items: center;
  justify-content: start;
}

.profile-links > a > .icon{
  font-size: 2rem;
}

.profile-button{
  padding: .5rem 1.5rem;
  font-size: 1.7rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
  border: none;
  color: #2A2A2A;
  font-weight: 800;
  cursor: pointer;
}