.profile_card{
  display: flex;
  gap: 1.5rem;
  width: 60%;
  height: auto;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile_card > span {
  width: 16rem;
  height: 16rem;
  border: 2px solid rgba(99, 0, 248, 0.694);
  box-shadow: 0px 0px 5px 0px rgba(137, 58, 255, 0.694);
  position: absolute;
  z-index: -1;
  left: 0;
  transform: translate(-8px, 0);
  border-radius: 100%;
}

.profile_card > img {
  width: 15rem;
  border-radius: 100%;
}

.card_infos {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: .5rem;
}

.card_title {
  font-size: 2rem;
  font-weight: 700;
}

.card_description {
  color: rgba(255, 255, 255, .6);
  letter-spacing: 1px;
  text-align: justify;
}

.card_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
}

.card_link_buttons {
  display: flex;
  align-items: center;
  padding: .7rem;
  background-color: rgba(69, 0, 173, 0.694);
  border-radius: .25rem;
  transition: .3s;
  &:hover {
    background-color: rgba(46, 0, 114, 0.718);
  }

}