.skill_icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(17, 17, 17);
  filter: brightness(.8);
  width: 5.5rem;
  height: 5.5rem;
  padding: 0 1rem;
  border-radius: .2rem;
  transition: .35s;

  &:hover {
    background-color: rgb(51, 51, 51);
    transform: translateY(-7.5px);
    filter: brightness(1);
  }
}

.skill_icon i {
  font-size: 2.75rem;
  position: relative;
  display: block;
  transition: .35s;
  line-height: 75px;
}

.skill_icon:hover i {
  transform: translateY(-10px);
}

.skill_icon span {
  position: absolute;
  font-weight: 400;
  opacity: 0;
  transition: .35s;
  letter-spacing: 1.5px;
  font-size: .65rem;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.skill_icon:hover span{
  opacity: 1;
  transform: translateY(25px);
}

