.page-card{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: auto;
  text-align: center;
}

.page-title{
  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  background-color: rgba(69, 0, 173, 0.8);
}

.page-card > p {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 1.1rem;
}

.more-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: .5rem;
  padding: .5rem;
  font-size: 1.1rem;
  background-color: rgba(69, 0, 173, .8);
  color: #fff;
  font-weight: 700;
  border-radius: 3rem;
  transition: .1s;
  cursor: pointer;

  &:hover{
    background-color: rgba(46, 0, 114, 0.718);
  }
}

@media screen and (max-width: 530px) {
  .page-card{
    width: 90%;
  }
}