.modal{
  display: none;
}

.open_modal {
  display: block;
  position: fixed;
  height: 85%;
  width: 35rem;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  border-radius: .5rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.modal_header{
  width: 100%;
  height: 10%;
  max-height: 10%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem;
  position: sticky;
  top: 0;
  border-bottom: .1px solid #fff;
}

.modal_header > span {
  font-size: 2rem;
  cursor: pointer;
}

.modal_content {
  height: 80%;
  width: 100%;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: .1px solid #fff;
  /* justify-content: center  ; */
}

.modal_info_group{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  gap: 1rem;
}

.modal_info_group > img{
  /* aspect-ratio: 3/2; */
  object-fit: contain;
  width: 95%;
  height: auto;
}

.certfication_infos{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* flex-direction: column; */
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.certfication_infos > div{
  display: flex;
  flex-direction: column;
  gap: .1rem;
}

.certfication_infos > div > label{
  font-size: .9rem;
  color: rgba(255, 255, 255, .8);
}


.certfication_infos > div > p{
  font-size: 1.2rem;
  font-weight: 700;
}

.certificado_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.certificado_content > label{
  font-weight: 700;
  font-size: 1.2rem;
}

.certificado_content > ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  text-align: justify;
  list-style: disc;
}

@media screen and (max-width:501px) {
  .open_modal{
    width: 90%;
  }
}
