.card-more-infos{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  gap: 1rem;
}

.card-infos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* text-align: justify; */
  gap: 1rem;
  width: 60%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-variation-settings:
  "wdth" 100;
}

.card-infos > h2 {
  font-size: 1.35rem;
}

.card-infos > p  {
  color: rgba(255, 255, 255, 0.6);
}

.card-infos > button {
  padding: .7rem;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: .2rem;
  background-color: rgba(69, 0, 173, 0.6);
  transition: .5s;

  &:hover{
    background-color: rgba(54, 0, 134, 0.6);
  }
}

.card-component{
  width: fit-content;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: .5rem;
}

@media screen and (max-width: 951px) {
  .card-more-infos{
    width: 80%;
    justify-content: space-between;
    /* margin-left: 50%; */
  }

  .card-infos{
    text-align: left;
  } 
  
  .card-component{
    width: 50%;
  }
}

@media screen and (max-width: 541px){
  .card-more-infos{
    flex-direction: column-reverse;
  }

  .card-infos{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center; 
  }

  .card-infos > h2 {
    font-size: 1.1rem;
  }

  .card-infos > p {
    font-size: .9rem;
  }

  .card-component{
    width: 100%;
  }
}