.formacao_card{
  width: 80%;
  min-height: 10rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
}

.formacao_options{
  display: flex;
  width: auto;
  /* background-color: burlywood; */
  /* gap: 1rem; */
  height: 2rem;
}

.formacao_options > p {
  width: 6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  padding: .3rem;
  transition: .3s;

  &:hover{
    background-color: #414141;
  }
}

.active{
  background-color: #1C1A1D;
  box-shadow: 0px 0px 5px 2px #000;
}

.formacao_text{
  display: flex;
  width: 100%;
  height: auto;
  background-color: #1C1A1D;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.informations{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.formacao_info{
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 2rem;
  place-content: space-evenly;
  align-items: center;
  border-right: .1px solid #fff;
}

.formacao_info > div{
  display: flex;
  flex-direction: column;
  text-align: center;
  white-space: wrap;
  width: 100%;
  text-align: left;
}

.formacao_info > div > label{
  font-size: .9rem;
  color: rgba(255, 255, 255, .8);
}

.formacao_desc{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}