.profile-card{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.profile-card > img {
  width: 15rem;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 100%;
}

.profile-name{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.profile-description{
  color: rgba(255, 255, 255, .6);
  text-align: center;
}

.profile-links{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  width: 80%;
  padding: 1rem;
}

.link{
  background-color: rgba(69, 0, 173, 0.694);
  display: flex;
  align-items: center;
  padding: .7rem;
  border-radius: 100% 100% 100% 100%;

  &:hover{
    background-color: rgba(46, 0, 114, 0.718);
  }
}


.more-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: .5rem;
  padding: .5rem;
  font-size: 1.1rem;
  background-color: rgba(69, 0, 173, 0.696);
  color: #fff;
  font-weight: 700;
  border-radius: 3rem;
  transition: .1s;

  &:hover{
    background-color: rgba(46, 0, 114, 0.718);
  }
}


@media screen and (max-width: 769px) {
  .profile-card > img {
    width: 10rem;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 100%;
  }

  .profile-name{
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
  }


  .profile-description{
    text-align: justify;
    font-size: .9rem;
  }

  .profile-links{
    justify-content: center;
    font-size: 1.5rem;
    width: 100%;
    gap: 1rem;
    padding: .8rem;
  }

}