*{
  scroll-behavior: smooth;
}

.navigation{
  display: flex;
  width: 100%;
  background-color: transparent;
  align-items: center;
  justify-content: end;
  position: fixed;
  top: 0;
  height: 4rem;
  z-index: 3;
} 

.content{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 769px) {
  .navigation{
    justify-content: center;
    position: fixed;
    bottom: 0;
    /* height: 10rem; */
  }
}