.navigation{
  display: flex;
  width: 100%;
  background-color: transparent;
  align-items: center;
  justify-content: end;
  position: sticky;
  top: 0;
  height: 4rem;
  z-index: 3;
} 

.content{
  height: auto;
  padding: 1rem 0;
  /* margin-top: 4rem ; */
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.navbarMenu{
  height: 3rem;
  width: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .35rem;
  position: fixed;
  z-index: 1;
  left: 1rem;
  cursor: pointer;
}

.navbarMenu > div {
  height: .2rem;
  width: 100%;
  background-color: #fff;
  border-radius: .5rem;
  transition: transform .5s, linear width .5s, opacity .3s;
}

/* .openMenu > div{
  width: 50%;
}

.openMenu > div:nth-child(2){
  opacity: 0;
}

.openMenu > div:nth-child(1){
  transform: translateY(200%) rotate(45deg);
}

.openMenu > div:nth-child(2){
  transform: scaleX(0);
}

.openMenu > div:nth-child(3){
  transform: translateY(-350%) rotate(-45deg);
} */

@media screen and (max-width: 769px) {
  .navigation{
    justify-content: center;
  }
}