.content-list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
  height: 12.5rem;
  align-items: flex-start;
  padding: .25rem;
  font-weight: bold;
  background-color: rgba(14, 14, 18, .8);
  overflow-y: auto;
}

.content-list::-webkit-scrollbar {
  z-index: -1;
  width: 2.5px;              
}

.content-list::-webkit-scrollbar-track {
  background: transparent;    
}

.content-list::-webkit-scrollbar-thumb {
  background-color: #420083;  
  border-radius: .5rem;         
}