.return-button {
  display: flex;
  align-items: center;
  gap: .5rem;
  width: fit-content;
  background-color: rgba(88, 0, 156, 0.808);
  padding: .5rem;
  border-radius: 2rem;
  transition: .3s;
  font-weight: 700;
  position: fixed;
  top: 15px;
  left: 10px;

  &:hover {
    background-color: rgba(42, 0, 74, 0.808);
  }
}