.data_preview {
  width: 15rem;
  height: 7.5rem;
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 800;
  background-color: rgb(17, 17, 17);
  color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(48, 0, 120, 0.694);
}