.cert-card{
  width: 20rem;
  height: 5rem;
  background: rgb(17, 17, 17);
  border-radius: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: .2rem;
  cursor: pointer;
  filter: brightness(.8);
  box-shadow: none;
  transition: .35s;  

  &:hover{
    background: rgb(51, 51, 51);
    box-shadow: 0px 10px 1px 0px rgb(0, 0, 0);
    transform: translateY(-7.5px);
    filter: brightness(1);
  }
}

.card-image {
  width: 4rem;
  height: auto;
  border-radius: 1rem;
  opacity: .5;
  transition: .3s;
}

.cert-card:hover .card-image {
  opacity: 1;
}
.cert-card-infos{
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: .2rem;
  align-items: center;
  justify-content: center;
}

.cert-more-details {
  font-weight: 600;
  padding: .3rem;
  opacity: .6;
  text-decoration: none;
  cursor: pointer;
  transition: linear opacity .3s, background-size .6s;
  background: 
  linear-gradient(to right, rgb(17, 17, 17)),
  linear-gradient(to right, rgb(144, 0, 255), rgb(54, 0, 162), rgb(35, 0, 105));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;

  &:hover, &:focus{
    opacity: 1;
    background-size: 0 0.1em, 100% 0.1em;
  }
}


.cert-card-title{
  width: 100%;
  font-weight: 600;
  text-align: center;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.1rem;
}

.cert-card-local{
  opacity: .5;
}

@media screen and (max-width: 700px) {
    .cert-card {
      width: 45%;
    }
}

@media screen and (max-width: 515px) {
  .cert-card {
    width: 80%;
  }

  .cert-more-details {
    font-size: .9rem;
  }
}