.card_details_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: .8rem;
  padding: .5rem;
  font-size: 1.1rem;
  border: 2px solid rgba(69, 0, 173, 0.694);
  color: #fff;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: .25s;
  cursor: pointer;

  &:hover {
    border: 2px solid rgba(46, 0, 114, 0.718);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: transparent;
    z-index: -1;
    transition:  .25s ;
    border-radius: 0 50% 100% 50%;
  }

  &:hover::before {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: rgba(46, 0, 114, 0.718);
  }
}