.skill_card {
  position: relative;
  border: 2px solid rebeccapurple;
  border-radius: .5rem;
  padding: .5rem;
  width: 45%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.short_skill_card {
  position: relative;
  border: 2px solid rebeccapurple;
  border-radius: .5rem;
  padding: .5rem;
  width: 45%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_title {
  position: absolute;
  top: -26.5px;
  left: 20px;
  background-color: #060607;
  padding: 0 .5px;
  color: #7a16fc;
  font-size: 2rem;
}

.skills_list {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.skills_list > div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.skills_list > div > i {
  font-size: 3rem;
}