.divisory{
  background-color: rgba(255, 255, 255, .2);
  border: none;
  height: .2rem;
  border-radius: .5rem;
  width: 95%;
}

.proj_image{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@keyframes floatingIcon{
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
  }
}